.htaccess
/wordpress/*
xmlrpc.php
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/w3tc/*
sitemap.xml
sitemap.xml.gz
readme.html
license.txt
*.log

*.DS_Store
.DS_Store
DS_Store

/media/*
!/media/index.php
!/media/

local-config.php
*.tmproj

!/content/plugins/*
/content/plugins/.DS_Store
/content/w3tc
/content/w3-total-cache-config-preview.php
/content/object-cache.php
/content/db.php
/content/advanced-cache.php
/.sass-cache/
.sass-cache
/content/cache/
/content/uploads/
*.sccsc
*.sass-cache*
/content/themes/magazine/stylesheets/*
